.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

body {
	justify-content: space-between;
	overflow: hidden;
}

#hidden-bar {
	background: #000;
	background: rgba(0,0,0,0.5);
	margin: 0;
	padding: 1em;
	-moz-transition: all 700ms ease-out;
	-webkit-transition: all 700ms ease-out;
	-o-transition: all 700ms ease-out;
	transition: all 700ms ease-out;

}

.hidden {
	-moz-transform: translate3d(10em, 0px, 0px);
	-webkit-transform: translate3d(10em, 0px, 0px);
	-o-transform: translate(10em, 0px);
	-ms-transform: translate(10em, 0px);
	transform: translate3d(10em, 0px, 0px);
}

.visible {
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}